<main class="flex justify-center items-center min-h-screen bg-secondary">
  <div class="absolute top-0 w-full h-1/5 bg-accent"></div>
  <div
    class="relative w-4/5 max-w-full h-[calc(100vh-40px)] bg-primary shadow-lg flex"
  >
    <div
      class="flex flex-col justify-between items-start p-3 bg-primary-light h-full border-r-2 border-gray-700"
    >
      <span>
        <app-icon [icon]="'MessageCircleIcon'" [color]="'text-gray-400'" />
      </span>
      <div class="flex flex-col items-center gap-2">
        <app-icon [icon]="'UserIcon'" [color]="'text-gray-400'" />
        <app-icon [icon]="'DoorOpen'" [color]="'text-gray-400'" />
      </div>
    </div>

    <div class="flex w-full">
      <div class="w-full">
        @if (chatList.length !== 0) {
        <app-chat-list [chatList]="chatList" />
        }@else {
        <div class="flex flex-col items-center justify-center w-full h-full">
          <h1 class="text-2xl text-white">No chats available</h1>
          <p class="text-sm text-gray-400">Start a new chat!</p>
        </div>
        }
      </div>
    </div>
  </div>
</main>
